<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">
    <title>Welcome</title>
</head>
<body>
<div class="container" id="app">

    <div class="form-inline" v-if="!isAuth">
        <input v-model="username" class="form-control" type="text" name="username" placeholder="Username">
        <input v-model="password" class="form-control" type="password" name="password" placeholder="Password">
        <button class="btn btn-success" v-on:click="signIn()">Sign in</button>
    </div>
    <div v-else>
        <h3>Hello {{ userData.name }} <button class="btn btn-success" v-on:click="signOut()">Sign out</button></h3>
    </div>

    <h2>Library</h2>
    <ul v-for="entry in files">
        <li>{{ entry.name }} | <a v-bind:href="entry.serveUrl" >Play</a> | <a href="javascript:void(0)" v-on:click="deleteFile(entry)">Delete</a></li>
    </ul>

    <div v-if="isAuth">
    <h2>Add</h2>
    <div class="row">
        <div class="col">
            <div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" v-model="fileName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="file">File</label>
                    <input type="file" class="form-control-file" id="file" v-on:change="setFileObject">
                </div>
                <button class="btn btn-primary" v-on:click="submitFile()">Submit</button>
            </div>
        </div>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    let app = new Vue({
        el: "#app",
        data: {
            files: [],
            fileName: null,
            fileObject: null,
            isAuth: false,
            userData: null,
            username: "",
            password: "",
        },
        created: async function () {
            this.fetchFiles();
            this.fetchUserData();
        },
        methods: {
            signIn: async function() {
                let resp = await fetch("/login", {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "Accept": "application/json",
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `username=${this.username}&password=${this.password}`
                });
                if (resp.ok) {
                    await this.fetchUserData();
                }
            },
            signOut: async function() {
                await fetch("/logout", {
                    method: "POST"
                });
                this.isAuth = false;
            },
            fetchUserData: async function() {
                let resp = await fetch("/api/v1/user/id");
                if (resp.ok) {
                    this.userData = await resp.json();
                    this.isAuth = true;
                }
            },
            fetchFiles: async function() {
                let resp = await fetch("/api/v1/mediaFiles", {headers: {"Accept": "application/json"}});
                let data = await resp.json();
                this.files = data;
            },
            deleteFile: async function(entry) {
                await fetch(entry.links[0].href, {method: "DELETE"});
                await this.fetchFiles();
            },
            setFileObject: function(event) {
                this.fileObject = event.target.files[0];
            },
            submitFile: async function() {
                let mediaFile = {
                    name: this.fileName,
                };
                const resp = await fetch("/api/v1/mediaFiles", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(mediaFile)
                });

                if (!resp.ok)
                    return;

                const data = await resp.json();

                let formData = new FormData();
                formData.append('uuid', data.uuid);
                formData.append('file', this.fileObject);
                const resp2 = await fetch("/api/v1/mediaFiles/upload", {
                    method: "POST",
                    body: formData
                });
                await resp2.json();
                await this.fetchFiles();
            }
        }
    });

</script>

</body>
</html>
